<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
        <a href="" class="navbar-brand">LearnMUSIC</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span
                class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a style="cursor: pointer" class="nav-link active" (click)="goToDashboard()" *ngIf="loggedIn">Dashboard</a>
                </li>
                <li class="nav-item dropdown" style="cursor: pointer" *ngIf="loggedIn">
                    <a class="nav-link dropdown-toggle active"  href="#" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" *ngIf="loggedIn" (click)="editProfile()" routerLinkActive="active">Edit Profile</a></li>
                    <li><a class="dropdown-item" *ngIf="loggedIn" (click)="signOut()">Log Out</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                    <a href="#questions" class="nav-link" *ngIf="!loggedIn">Questions</a>
                </li>
                <li class="nav-item">
                    <a href="#creator" class="nav-link" *ngIf="!loggedIn">Developer</a>
                </li>
                <li class="nav-item">
                    <a style="cursor: pointer" class="nav-link" (click)="goToLogInPage()" *ngIf="!loggedIn">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
