<section class="p-5 p-lg-0 pb-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <form [formGroup]="profileForm" action="">
            <div class="row profile p-lg-3 p-2">
                <div class="col-lg-3 col-md-4 p-1 col-sm-6 col-10 mx-auto">
                    <img src="{{photoUrl?.value || 'assets/image/user.png'}}" class="rounded-circle mb-3 img-fluid"
                    alt="">
                </div>
                <div class="col-lg-9 col-md-8 p-3">
                    <h3><span>{{firstName?.value + " " + lastName?.value}}</span></h3>
                    <p class="sub-lead text-primary pb-5"><span>{{"@" + codeName?.value}}</span></p>
                    <p class="sub-lead pb-5"><span>{{"'" + bio?.value + "'"}}</span></p>
                    <p>{{aboutMe?.value}}</p>
                    <p>Instruments:</p>
                    <div class="d-sm-flex align-items-center justify-content-between" formArrayName="instruments">
                        <div class="mr-5"  *ngFor="let instrument of instruments.controls let j=index" [formGroupName]="j">
                            <div >
                                <p class="sub-lead">{{instrument.get('instrument')?.value}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row g-4">
            <button class="btn btn-primary col-6" *ngIf="!this.recordId">Edit Profile</button>
            <button class="btn btn-primary col-4" *ngIf="this.recordId">Follow</button>
            <button class="btn btn-success col-4" *ngIf="this.recordId">Message</button>
            <button class="btn btn-secondary" [ngClass]="this.recordId !== null ? 'col-4' : 'col-6'" (click)="goToDashboard()">Back</button>
            
        </div>
    </div>
</section>





<!-- <section class="bg-secondary p-5 p-lg-0 pb-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col mx-auto">
                <img src="{{photoUrl?.value || 'assets/images/user.png'}}" class="rounded-circle mb-3 img-fluid"
                alt="">
            </div>
        </div>
    </div>
</section>
<section class="p-3 text-center text-sm-start bg-dark text-light" >
    <div class="container">
        <div class="row align-items-center">
            <form class="col" [formGroup]="profileForm" action="">
                <div class="text-center">
                    <h2><span>{{firstName?.value + " " + lastName?.value}}</span></h2>
                </div>
                <div class="mb-5 text-center">
                    <p class="sub-lead"><span>{{"@" + codeName?.value}}</span></p>
                </div>
                <div class="text-center">
                    <p class="sub-lead"><span>{{"'" + bio?.value + "'"}}</span></p>
                </div>
            </form>
        </div>
    </div>
</section>
<section class="p-3 pt-0 text-center text-sm-start bg-dark text-light">
    <div class="container">
        <h5 class="mb-2">About</h5>
        <p>{{aboutMe?.value}}</p>
    </div>
</section> -->