<!-- HERO -->
<div class="hero vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h1 class="display-4 text-white">Enjoy, Explore and <span class="text-warning">Learn Music</span></h1>
                <p style="font-size: small; font-style: italic;" class="text-white my-4  text-end ">'One good thing about music, when it hits you, you will feel no pain.' - Anomymous</p>
                <p class="text-white my-4">Feel free to use this website to enjoy, explore and learn music.
                Yes, you can enjoy music while learning it. You can search new songs and their tabs/chords and save it directly on the
                gallery.</p>
                <a *ngIf="!loggedIn" class="btn btn-primary me-2" (click)="signUp()">Register</a>
                <a class="btn btn-outline-light">Contact Us</a>
            </div>
        </div>
    </div>
</div>

  <!-- Projects -->
<section id="projects">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-md-8 mx-auto text-center">
        <!-- <h6 class="text-primary">PROJECTS</h6> -->
        <h1>What is this app for?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ducimus vero expedita at nesciunt eaque repudiandae,
          harum nisi quo illum laboriosam adipisci dolores magnam neque.
        </p>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-sm-6">
        <div class="project">
          <img src="assets/image/sunrise.jpg" alt="">
          <div class="overlay">
            <div class="">
              <h4 class="text-warning">Discover Your Passion</h4>
              <h6 class="text-white">Immerse yourself in a world of music with endless playlists, songs, and podcasts tailored to your
                tastes.</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="project">
          <img src="assets/image/piano.png" alt="">
          <div class="overlay">
            <div class="">
              <h4 class="text-warning">Collaborate and Create</h4>
              <h6 class="text-white">Connect with musicians globally, network, and form lifelong musical partnerships through our
                intuitive social platform.</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="project">
          <img src="assets/image/kid.png" alt="">
          <div class="overlay">
            <div class="">
              <h4 class="text-warning">Learn from the Best</h4>
              <p class="text-white">Elevate your musical abilities with top-tier resources, tutorials, and personalized lessons from
                world-class instructors.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- Features -->
  <section class="row w-100 py-0" id="features">
    <div class="col-lg-6 col-img"></div>
    <div class="col-lg-6 py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <h6 class="text-primary">The Developer/Creator</h6>
            <h1>Eugene Nico Hermano</h1>
            <div class="feature d-flex mt-5">
              <div class="iconbox me-3">
                <i class='bx bx-laptop' ></i>
              </div>
              <div class="">
                <h5>Fullstack Developer (.Net/Angular)</h5>
                <p>from July 2022 - onwards</p>
              </div>
            </div>
            <div class="feature d-flex mt-5">
              <div class="iconbox me-3">
                <i class='bx bxs-graduation' ></i>
              </div>
              <div class="">
                <h5>Electronics Engineering Graduate</h5>
                <p>PUP-Santa Rosa - 2019</p>
              </div>
            </div>
            <div class="feature d-flex mt-5">
              <div class="iconbox me-3">
                <i class='bx bxs-music' ></i>
              </div>
              <div class="">
                <h5>Guitarist</h5>
                <p>Acoustic Guitarist</p>
                <p>Alternative Rock Guitarist</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section id="services">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8 mx-auto text-center">
          <!-- <h6 class="text-primary">SERVICES</h6> -->
          <h1>Other Informations</h1>
          <p> Following are other relevant informations about this app.
          </p>
        </div>
      </div>
      <div class="row g-4">
        <div class="col-lg-4 col-sm-6">
          <div class="service card-effect">
            <div class="iconbox">
              <i class="bx bxs-comment-detail"></i>
            </div>
            <h4 class="mt-4 mb-2">CRUD Based Application</h4>
            <p> - provides basic operations to manage data: Create, Read, Update, and Delete.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service card-effect">
            <div class="iconbox">
              <i class="bx bxs-comment-detail"></i>
            </div>
            <h4 class="mt-4 mb-2">User Authentication</h4>
            <p>User authentication is crucial in securing sensitive information and ensuring only authorized users have access to
              it, typically accomplished through passwords or biometric methods.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service card-effect">
            <div class="iconbox">
              <i class="bx bxs-comment-detail"></i>
            </div>
            <h4 class="mt-4 mb-2">Early Development Stage</h4>
            <p>LearnMusic in early development stage would involve building the basic framework, identifying key features, and
              conducting initial testing. Feel free to submit suggestions and bugs report.</p>
          </div>
        </div>
      </div>
    </div>
  </section>